
	
	.galleries{
		margin-top: 30px;
		margin-bottom:30px;
		max-width: 350px;
	}
	h3{
		text-transform: uppercase;
	}
	
/*.media {
  display: inline-block;
  position: relative;
  vertical-align: top;
}




.media__image { display: block; }*/



img{
	// .basic-transition;
	&:hover{
		opacity: 0.65;
	}
}


.media__body {
/*  background: rgba(41, 128, 185, 0.7);*/
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 3.75em 3em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.media__body:hover { opacity: 1; }

.media__body:after,
.media__body:before {
/*  border: 1px solid rgba(255, 255, 255, 0.7);*/
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.media__body:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.media__body:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.media__body:hover:after,
.media__body:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/*.media__body h2 { margin-top: 0em; }

.media__body p { margin-bottom: .5em; }*/
	

