.navbar-nav li a{
	font-size: @font-size-menu;
}

.top-separator {
    height: 60px;
}


  span.select2{
    width: 100%;
  }

  .dropdown-toggle{
  	position:relative;
  	padding-left: 50px;

  	img{
  		position: absolute;
  	    top: 10px;
  		left: -25px;
  		border-radius: 50%
  	}
  }