// Naglowki
.header-mixin(@font-size, @font-weight){
font-size: @font-size;
font-weight: @font-weight;
}

// duze litery
.upper {
	text-transform: uppercase;
}

// wyrównanie, pozycjonowanie itp.

.center-text{
	text-align: center;
}

.v-align{
	v-align: middle;
}

.absolute-one-hundred-size {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}

.inline-block{
	display: inline-block;
}

.block{
	display: block;
}


.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.v-align-transform{
	.relative;
	top: 50%;
	transform: translateY(-50%);
}

.clear{
	clear: both;
}

// PADDING DOŁ GÓRA 
.padding-top-bottom(@p-top;@p-bottom)
{
	padding: @p-top 0 @p-bottom;
}

// Ramki
.basic-border(@width;@style;@color: @border-color){
	border-width: @width;
	border-style: @style;
	border-color: @color;
}
// paragraph

.paragraph(@font-size: @font-size-base; @line-height: @line-height-base; @color: @paragraph-color){
	font-size: @font-size;
	line-height: @line-height;
	color: @paragraph-color;
}


