.select2{width: 100%!important;}
.select2-container--default .select2-selection--multiple{
	border-radius: 0px!important;
}
.btn.pull-right{
	margin-top: 20px;
	}
.table > tbody > tr > td{
	 	vertical-align: middle!important;
	 }