// zmienne tekstu

@font-family-sans-serif: 'Open Sans', Arial, sans-serif;

// własna
@font-family-secondary: 'Source Sans Pro', sans-serif;

@line-height-base: 1.6;

@headings-font-weight: 300;

@font-size-base: 13px;

@font-size-h2: 32px;

@font-size-h3: 18px;

@font-size-h4: 14px;

@font-size-menu: 16px;

// Bazowy kolory - Brand

@brand-primary: #70ca63;

@brand-warning: #f6bb42;

@brand-danger: #ec6f5a;

//  Kolory

@body-bg: #fff;

// wlasna
@alternate-bg: #f6f6f6;
// wlasna
@dark-bg: #222532;
// wlasna
@light-bg: #c1c3c4;
// wlasna
@logos-bg: #93959e;
// wlasna
@copyright-bg: #15151e;

@text-color: #454740;
// wlasna
@paragraph-color: #888;
// wlasna
@bright-text-color: #fff;
// wlasna
@icon-color: #a9a9ac;
// wlasna
@menu-text-color: #929292;
// wlasna
@menu-hover-color: #383838;
// wlasna
@footer-text-color: #999;
// wlasna
@border-color: #ddd;
// wlasna
@footer-border-color: #eaeaea;
// wlasna
// @section-line-color: #eaeaea;
// wlasna
@btn-primary-color: @bright-text-color;
// wlasna
@btn-danger-color: @bright-text-color;

// Rozne
@input-border-hover: #bbb;

@border-radius-base: 0px;























