 body {
            font-family: 'Lato';
        }

        .btn{
            border-radius: 0px;
        }

        li{
            list-style: none;
        }

        .fa-btn {
            margin-right: 6px;
        }

        #menu-toggle{
            cursor: pointer;
        }


        .nav a{

            text-transform: uppercase;
        }

    

nav .navbar-nav > li > a:hover, .nav .navbar-nav > li > a:focus
        {
            background-color: transparent;
            color:#98dafc;
        }
        

        a{
           color: #000;
        }

        a:hover{
            color:#98dafc
        }

        .navbar-default{
            background-color: #fff;
        }

       .navbar-toggle{
        border: none;
        background-color: transparent!important;
       } 

         .navbar-toggle:hover{
           
         /*   color: #5bc0de!important;*/
         }

  @media only screen and (min-width : 769px) 

    {
   .navbar-nav {
    width: 100%;
    float: none;
    margin-left:180px;
    text-align: center!important;
    > li {
      float: none;
      display: inline-block;
    }
  }
}


  @media only screen and (max-width : 768px) 

    {
  .navbar-nav li {
        text-align: left;
        margin: 0;
        height: auto;
        border-bottom: 1px solid #e3e3e3;
        }

        .navbar-nav li:first-of-type{
        margin-top: -5px;
        }
   
        .navbar-nav li:last-of-type{
            border-bottom: 0px;
            margin-bottom: -5px;
        }
    
    }

        .social-phone{
      /*   display: inline-block;*/
      padding: 30px 0px;
        }

        .top-separtor, .bottom-separator{
            margin: 50px 0;
        }

        .footer-container{
            width:1230px;
        }
