
 #post-images img {
  width: 240px;
  height 160px;
  border: 2px solid black;
  margin-bottom: 10px;
 }

 #post-images ul{
   margin: 0;
   padding: 0;
 }

#post-images li {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  padding-right: 10px;
 }
